{% extends 'base.html' %}
{% block body %}
<h3>N°: {{numero}}</h3>
<table>
    <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor Un</th>
        <th>Total</th>
    </tr>
    <tr>
    {% for comanda in comanda %}
        {% for pedido in comanda %}
        <td>{{ pedido }}</td>
        {% endfor %}
        {% endfor %}  
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
</table>
<br />
<br />
<button>Pré-fechar</button>
<button>fechar</button>
{% endblock %}