{% extends 'base.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class=" row">
            <div class="col-md-2">
                ID:<br />
                <input autofocus class="form-control"name="id" type="number" required />
                <br />
            </div>
        </div>
        <div class=" row">
            <div class="col-md-6">
                Nome:<br />
                <input autofocus class="form-control"name="nome" type="text" required/>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Preco:<br />
                <input class="form-control" name="preco" type="number" step="0.01" required/>
                <br />
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-default">Salvar</button>
        </div>
</form>
{% endblock %}