{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="espeto" value="12">Frango</button><br />
        <button name="espeto" value="13">Frango + Abob.</button><br />
        <button name="espeto" value="14">Medalhao</button><br />
        <button name="espeto" value="15">Coracao</button><br />
        <button name="espeto" value="16">Coxinha</button><br />
        <button name="espeto" value="17">Coxinha Geng.</button><br />
        <button name="espeto" value="18">Tulipas</button><br />
        <button name="espeto" value="19">Tulipas Barb.</button><br />
        <button name="espeto" value="20">Kebab</button><br />
        <button name="espeto" value="21">Kafta</button><br />
        <br />
        <br />
    </form>
{% endblock %}