{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="espeto" value="30">Pintado</button><br />
        <button name="espeto" value="31">Salmao Limao</button><br />
        <button name="espeto" value="32">Salmao Maracuja</button><br />
        <button name="espeto" value="33">Camarao</button><br />
        <button name="espeto" value="34">Camarao Abacaxi</button><br />
        <button name="espeto" value="35">Polvo</button><br />
        <br />
        <br />
    </form>
{% endblock %}