{% extends 'base.html' %}
{% block body %}
    <form method="get" action="/pedidos/abrir_mesa1/">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
        <button name="acomp" value="50">Completa</button><br />
        <button name="acomp" value="51">Arroz B.</button><br />
        <button name="acomp" value="52">Arroz G.</button><br />
        <button name="acomp" value="53">Farofa</button><br />
        <button name="acomp" value="54">Farofa Casa</button><br />
        <button name="acomp" value="55">Mandioca</button><br />
        <button name="acomp" value="56">Mandioca T.</button><br />
        <button name="acomp" value="57">Vinagrete</button><br />
        <button name="acomp" value="58">Vinag. Banana</button><br />
        <button name="acomp" value="59">Prato Feito</button><br />
        <br />
        <br />
    </form>
{% endblock %}