{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
        <button>Cervejas</button><br />
        <button>S/ Alcool</button><br />
        <button>Sucos</button><br />
        <button>Chopp</button><br />
        <button>Caipirinhas</button><br />
        <button>Coktails</button><br />
        <button>Doses</button><br />
        <br />
        <br />
    </form>
{% endblock %}