{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="porcao" value="80">Bol. Bacalhau</button><br />
        <button name="porcao" value="81">Fritas</button><br />
        <button name="porcao" value="82">Fritas + Prato + bacon</button><br />
        <button name="porcao" value="83">Fritas + Cheddar + bacon</button><br />
        <button name="porcao" value="84">Polenta</button><br />
        <button name="porcao" value="85">Polenta + Parmasao</button><br />
        <button name="porcao" value="86">Mandioca</button><br />
        <button name="porcao" value="87">Pastel Carne</button><br />
        <button name="porcao" value="88">Pastel Queijo</button><br />
        <button name="porcao" value="89">Calabresa</button><br />
        <button name="porcao" value="90">Contra File</button><br />
        <button name="porcao" value="91">Isca Peixe</button><br />
        <button name="porcao" value="92">Frango + Most. + Mel</button><br />
        <button name="porcao" value="93">Frango</button><br />
        <button name="porcao" value="94">Camarao</button><br />
        <button name="porcao" value="95">Lula</button><br />
        <br />
        <br />
    </form>
{% endblock %}