{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="porcao" value="70">Amendoim</button><br />
        <button name="porcao" value="71">Azeitonas T.</button><br />
        <button name="porcao" value="72">Salsichas</button><br />
        <button name="porcao" value="73">Presunto + Queijo</button><br />
        <button name="porcao" value="74">Provolone</button><br />
        <button name="porcao" value="75">Frios</button><br />
        <br />
        <br />
    </form>
{% endblock %}