{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <input type="hidden" name="comanda_id" value="{{comanda_id}}" />
        <button name="pedido" value="espetos">Espetos</button><br />
        <button name="pedido" value="acompanhamentos">Acompanhamentos</button><br />
        <button name="pedido" value="procoesquentes">Porcoes Quentes</button><br />
        <button name="pedido" value="procoesfrias">Porcoes Frias</button><br />
        <button name="pedido" value="sanduiches">Sanduiches</button><br />
        <button name="pedido" value="bebidas">Bebidas</button><br />
        <button name="pedido" value="sobremesas">Sobremesas</button><br />
        <br />
        <br />
    </form>
{% endblock %}