{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="sobremesa" value="110">Abacaxi</button><br />
        <button name="sobremesa" value="111">Brigadeiro</button><br />
        <button name="sobremesa" value="112">Brownie</button><br />
        <button name="sobremesa" value="113">Morango</button><br />
        <button name="sobremesa" value="114">Romeu e julieta</button><br />
        <button name="sobremesa" value="115">Petit gateau</button><br />
        <br />
        <br />
    </form>
{% endblock %}