<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema de controle">
    <meta name="author" content="Igor Peres">
{%block head %}
    <title>{{ title }} - Cosa Nostra Barbearia</title>
    
{% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="icon" href="{% static '/app/img/bigode.ico' %}"/>
    <link rel="stylesheet" href="{% static '/app/content/style9.css' %}" />
    <link rel="stylesheet" href="{% static '/app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/content/ie10-viewport-bug-workaround.css' %}" />
    <link rel="stylesheet" href="{% static '/app/content/navbar.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script href="{% static '/app/scripts/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script href="{% static '/app/scripts/ie10-viewport-bug-workaround.js' %}"></script>
    <style type="text/css">
        body {
            background-image: url('../../static/app/img/fundo2.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;
            background-color: #ffffff;
            color: #bec4c0;
            
        }

        footer {
            color:#ffffff;
        }
    </style>

</head>
<body link="#7b6d3e">

    <div class="container">
    <!-- Static navbar -->
        <nav class="mynavbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="../../static/app/img/maracutaia_logo.png" height="160" width="216"/></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="/mesas"><img src="../../static/app/img/mesas2.png" /><center>Mesas</center></a></li>
                        <li><a href="/pedidos"><img src="../../static/app/img/pedidos2.png" /><center>Pedidos</center></a></li>
                        <li><a href="/entregas"><img src="../../static/app/img/delivery.png" /><center>Entregas</center></a></li>
                        <li><a href="/caixa"><img src="../../static/app/img/caixa3.png" /><center>Caixa</center></a></li>
                        <li><a href="/outros"><img src="../../static/app/img/outros2.png" /><center>Outros</center></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <h2>{{title}}</h2>
        {% endblock %}

        <div class="myjumbotron jumbotron mynavbar">
            {% block body %}
        

            {% endblock %}
        </div>
   
   </div>
        <footer>
            <center>Maracutaia Application &copy; 2017</center>
        </footer>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>