{% extends 'base.html' %}
{% block body %}
        <div id="navbar" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav">
                <li><a href="addespeto"><center>Adicionar Espeto</center></a></li>
                <li><a href="editespetos"><center>Editar Espeto</center></a></li>
                <li><a href="addbebida"><center>Adicionar Bebida</center></a></li>
                <li><a href="editbebidas"><center>Editar Bebida</center></a></li>
                <li><a href="addporcao"><center>Adicionar Porção</center></a></li>
                <li><a href="editporcao"><center>Editar Porção</center></a></li>
                <li><a href="addsobremesa"><center>Adicionar Sobremesa</center></a></li>
                <li><a href="editsobremesa"><center>Editar Sobremesa</center></a></li>
                <li><a href="addacomp"><center>Adicionar Acompanhamento</center></a></li>
                <li><a href="editacomp"><center>Editar Acompanhamento</center></a></li>
            </ul>
        </div>
{% endblock %}