{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="bebida" value="200">Abacaxi</button><br />
        <button name="bebida" value="201">Banana</button><br />
        <button name="bebida" value="202">Kiwi</button><br />
        <button name="bebida" value="203">Kiwi c/ morango</button><br />
        <button name="bebida" value="204">Yakult</button><br />
        <button name="bebida" value="205">Limão</button><br />
        <button name="bebida" value="206">Manga c/ pimenta</button><br />
        <button name="bebida" value="207">Maracujá</button><br />
        <button name="bebida" value="208">Maracujá c/ morango</button><br />
        <button name="bebida" value="209">Morango</button><br />
        <button name="bebida" value="210">Frozzen</button><br />
        <button name="bebida" value="211">Caipicerva</button><br />
        <br />
        <br />
    </form>
{% endblock %}