{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="bebida" value="160">Brahma Zero Long.</button><br />
        <button name="bebida" value="161">Malzebier Long.</button><br />
        <button name="bebida" value="162">Budweiser Long.</button><br />
        <button name="bebida" value="163">Heineken Long.</button><br />
        <button name="bebida" value="164">Eisenbahn Long.</button><br />
        <button name="bebida" value="165">Antartica 600ml</button><br />
        <button name="bebida" value="166">Devassa 600ml</button><br />
        <button name="bebida" value="167">Brahma 600ml</button><br />
        <button name="bebida" value="168">Skol 600ml</button><br />
        <button name="bebida" value="169">Eisenbahn 600ml</button><br />
        <br />
        <br />
    </form>
{% endblock %}