{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="bebida" value="220">Cuba Libre</button><br />
        <button name="bebida" value="221">Gin Tônica</button><br />
        <button name="bebida" value="222">Mojito</button><br />
        <button name="bebida" value="223">Sgroppino</button><br />
        <button name="bebida" value="224">Pina Colada</button><br />
        <button name="bebida" value="225">Sex On The Beach</button><br />
        <button name="bebida" value="226">Margarita</button><br />
        <button name="bebida" value="227">Margarita Frozzen</button><br />
        <br />
        <br />
    </form>
{% endblock %}