{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="bebida" value="240">Campari</button><br />
        <button name="bebida" value="241">Conhaque</button><br />
        <button name="bebida" value="242">Gin</button><br />
        <button name="bebida" value="243">Run</button><br />
        <button name="bebida" value="244">Saquê</button><br />
        <button name="bebida" value="245">Vodka</button><br />
        <button name="bebida" value="246">Red Label</button><br />
        <button name="bebida" value="247">Tequila</button><br />
        <br />
        <br />
    </form>
{% endblock %}