{% extends 'base.html' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="mesa" value="{{mesa}}" />
        <button name="bebida" value="120">Abacaxi</button><br />
        <button name="bebida" value="121">Abacaxi c/ hortelã</button><br />
        <button name="bebida" value="122">Açaí c/ laranja</button><br />
        <button name="bebida" value="123">Capim Santo</button><br />
        <button name="bebida" value="124">Laranja</button><br />
        <button name="bebida" value="125">Laranja c/ acerola</button><br />
        <button name="bebida" value="126">Laranja c/ groselha</button><br />
        <button name="bebida" value="127">Laranja c/ mamão</button><br />
        <button name="bebida" value="128">Laranja c/ morango</button><br />
        <button name="bebida" value="129">Limão</button><br />
        <button name="bebida" value="130">Limonada</button><br />
        <button name="bebida" value="131">Maracujá</button><br />
        <button name="bebida" value="132">Maracujá c/ morango</button><br />
        <button name="bebida" value="133">Melancia</button><br />
        <button name="bebida" value="134">Morango</button><br />
        <br />
        <br />
    </form>
{% endblock %}